body {
  font-family: "Roboto", sans-serif;
  margin: 0; /*let stuff stretch to the edges*/
  /*consider changing background color so scrolling past the top/bottom isn't as jarring*/
  background-color: #1f2937;
}

.upper {
  background-color: #1f2937;
  padding: 0 10vw;
  color: white;
}

/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  font-size: larger;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: auto 5px; /*this auto is actually lining it up vertically with the Header Logo (maybe?), which is cool*/
}

a {
  text-decoration: none;
  /* this is a cool option, but we won't use it this time.color: inherit; */
  color: rgb(182, 173, 173);
}

/*CALL to action section*/

.call {
  display: flex;
  padding: 50px 0 100px;
  align-items: center;
  justify-content: space-between;
  margin-inline-end: 15%;
}

.call-left {
  flex-shrink: 1;
  min-width: 300px;
}

h1 {
  margin-bottom: 5px;
}

.subtext {
  color: rgb(182, 173, 173);
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.top-button {
  background-color: #3882f6;
  border-radius: 7px;
  color: white;
  padding: 4px 15px;
  border: none;
}
/*this is apparently a pseudo-class, which we can use to make our button change colors when pressed (an ability we lost when we removed the border)*/
.top-button:active {
  background-color: #225abb;
}

.call-image {
  width: 400px;
  height: auto;
  margin-left: 25px;
  flex-shrink: 1;
}

/*CAROUSEL section*/
h2 {
  text-align: center;
  padding: 35px;
}

.carousel-section {
  padding: 0 10vw 55px;
  background-color: white;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 15px;
  /*IDK if it's worth it, but we could try to have it warp only down to 2 and 2 when the window shrinks sufficiently.*/
}

.imagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imagebox img {
  /*descendant selector BABYYYYY*/
  width: 250px;
  margin-bottom: 25px;
  border-radius: 20px;
}

/*TESTIMONIAL*/

.testimonial {
  padding: 100px 20vw; /* coonsider changing this and other section padding to vw in a later update*/
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 0;
  font-style: italic;
}

.attributed-to {
  font-weight: bold;
  align-self: flex-end;
}

/*CALL to action TWO section*/

.call2 {
  background-color: white;
  padding: 100px 27vw;
}

.blue-box {
  background-color: #3882f6;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.blue-box-left {
  margin-left: 15px;
}

.call2main {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0;
}

.call2sub {
  color: rgb(233, 233, 233);
  font-size: medium;
  margin-top: 3px;
}

.blue-box button {
  background-color: inherit;
  border-radius: 7px;
  color: white;
  padding: 4px 15px;
  border: 2px solid white; /* based on inheritance, we need to specify all three of these values to have teh border render at all, apparently*/
  margin-right: 15px;
}

.blue-box button:active {
  background-color: white;
  color: #3882f6; /*invert when clicked*/
}

/*FOOTER*/

.footer {
  background-color: #1f2937;
  color: rgb(182, 173, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 15px;
}
